# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/Project 1.rar
/Project 2.rar
/Project 3.rar
/Project 4.rar
